<footer class="footer">
  <small>Stronka powstala z pomoca
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "O mnie",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Nowosci RoR</a></li>
    </ul>
  </nav>
</footer>